@font-face {
    font-family: Ringift;
    src: url('./fonts/Ringift.ttf');
}

@font-face {
    font-family: Cormorant-Italic;
    src: url('./fonts/Cormorant-Italic.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.woff');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('./fonts/Roboto-Bold.ttf');
}

:root {
    --black-transparent: rgba(25,25,25,0.95);
}

body {
    height: 100vh;
    background-image: url('./images/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 32px;
    padding-bottom: 32px;

    display: grid;
    grid-template: 128px calc(100vh - 128px) / 50%;
    justify-content: center;
    gap: 16px;
}

header {
    color: white;
    background-color: var(--black-transparent);
    display: grid;
    grid-template-rows: 80px 48px;
}

header > h1 {
    font: 4rem Ringift, Helvetica, sans-serif;
    align-self: center;
    text-align: center;
    margin: 0;
}

nav {
    align-self: stretch;
    display: flex;
    justify-content: center;
    gap: 16px;
}

nav > button {
    flex: 1;
    font: 1rem Roboto, Helvetica, sans-serif;
    color: white;
    border: none;
    background-color: rgba(0,0,0,0);
}

nav > button:active {
    background-color: rgba(150,150,150,0.2);
}

#content {
    color: white;
    background-color: var(--black-transparent);
}

.home {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.home > * {
    margin-right: 10%;
    margin-left: 10%;
}

.slogan-container {
    position: relative;
    margin-top: 32px;
}

.slogan-container > img {
    width: 100%;
}

.slogan-container > h3 {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 4rem Cormorant-Italic, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px black;
}

.home > p {
    font: 1.3rem Roboto, Helvetica, sans-serif;
}

.home > p > a {
    font-style: italic;
    color: white;
}

.menu {
    display: grid;
    grid-template-rows: 96px 1fr;
}

.tabs-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-container > button {
    width: 20%;
    padding: 0.5rem;
    font: 1rem Roboto, Helvetica, sans-serif;
    color: white;
    border: 2px solid #aaaaaa;
    background-color: rgba(0,0,0,0);
}

.tabs-container > button:not(button:first-of-type) {
    border-left-width: 0px;
}

.tabs-container > button:not(button:last-of-type) {
    border-right-width: 0px;
}

.tabs-container > button.active {
    background-color: #808080;
}

.menu-container {
    overflow: auto;
}

.dish-container {
    text-align: center;
    margin-top: 48px;
}

.dish-container > * {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}

.dish-container > p {
    font-size: 1.2rem;
    margin-top: 16px;
    margin-bottom: 16px;
}

.about > * {
    margin-right: 10%;
    margin-left: 10%;
}


.about > h2 {
    text-align: center;
    font: 2rem Roboto-Bold, Helvetica, sans-serif;
}

.about > h4 {
    margin-top: 64px;
    text-align: center;
    font: 1.5rem Roboto-Medium, Helvetica, sans-serif;
}

.about > p {
    text-align: center;
    font: 1.2rem Roboto, Helvetica, sans-serif;
}